@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section headers{    
    <style type="text/css">
        body { font-size: 10pt; }
    </style>
}
    <h2>What is CodePaste.NET?</h2>    
        <p>
            CodePaste.NET is a public site for pasting snippets of code
            and linking to them from social network sites. <b>Post and 
            link</b>, post and link! Think of it like a <b>linkable scratch pad</b> for code snippets 
            that provide syntax color highlighting, basic tagging and 
            descriptions. Once posted you can link
            to the snippet from social network sites like <a href="http://twitter.com" target="_blank"><b>Twitter</b></a> and
            <a href="http://www.facebook.com" target="_blank"><b>FaceBook</b></a> or instant message and chat applications
            like <a href="http://skype.com" target="_blank"><b>Skype</b></a> or <a href="http://download.live.com/messenger" target="_blank"><b>Messenger</b></a>.             
        </p>
        <img src="~/images/tweet.png" alt="Tweet Example" Title="Twitter Tweet in TweetDeck" />
        
        <img src="~/images/skype.png" alt="Skype Example" Title="Chat in Skype" />
        <p>
        Creating snippets is <b>fast and easy</b>: Simply paste your code into a textbox, add a title,
        choose a code syntax for the code and paste it. Done! The link is immediately available online for 
        linking - simply pick up the Url from the address bar or use the <i>Tweet this Snippet</i> button to 
        link away. 
        </p>
        
        <p>
        You can subscribe to various snippet lists via <b>RSS feeds</b>. There's a main, recent snippets feed ,
        but you can also subscribe to a user's feed or feeds for certain keywords by utilizing the 
        Format dropdown from most list pages to select a <i>RSS Feed</i> output. 
        </p>
        
        <p>
        <h3>It's Free</h3>
        This site is <b>open to all</b> and <b>free</b> to use. Simply post a code snippet and pick up 
        the resulting link to paste into your social network client. CodePaste.NET urls are
        short so they don't take up a lot of space in your Twitter tweets. Snippets can be posted anonymously or you can optionally create a user account using OpenId to keep
        track of your previous snippets and some basic stats. Anonymous snippets are removed
        after 10 days, so if you want permanent snippets please sign-in.  
        
        <p>
        Please use this site for good, not evil.
        </p>
        
        <p>
        <h3>What others are saying</h3>
       
        <ul>
            <li><a href="http://blogs.msdn.com/gblock/archive/2009/12/17/codepaste-is-the-bee-s-knees-my-new-favorite-way-to-share-code.aspx">CodePaste is the bee's knees... (Glen Block's Blog)</a></li>
            <li><a href="http://www.hanselman.com/blog/ScottHanselmans2009UltimateDeveloperAndPowerUsersToolListForWindows.aspx">Mentioned on Scott Hanselman's Ultimate Developer Tools List</a></li>
        </ul>    
        
        </p>
        
        <p>
        <h3>Disclaimer</h3>
        West Wind Technologies is not responsible for the content posted on this site and
        makes no guarantees to accuracy, adequacy or safety of any code posted. 
        Use any code provided at your own risk.
        <br />
        <br />
        IN NO EVENT SHALL THE AUTHOR, OR ANY OTHER PARTY WHO MAY MODIFY AND/OR REDISTRIBUTE THIS
        PROGRAM AND DOCUMENTATION OR USE CODE RETRIEVED FROM THIS APPLICATION, BE LIABLE FOR ANY COMMERCIAL, SPECIAL, INCIDENTAL, 
        OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM 
        INCLUDING, BUT NOT LIMITED TO, LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR 
        LOSSES SUSTAINED BY YOU OR LOSSES SUSTAINED BY THIRD PARTIES OR A FAILURE OF THE 
        PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS, EVEN IF YOU OR OTHER PARTIES HAVE BEEN 
        ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
