<h2>Developer Information</h2>

<fieldset>
    <div class="containercontent">
        <p>
            <h3>Source Code Repository</h3>
            CodePaste.NET is a community project and you can access the source code for this project using <a href="http://tortoisesvn.net/downloads">Subversion</a> at:
        </p>
    
        <ul>
            <li><a href="http://www.west-wind.com:8080/svn/codepaste/trunk/">http://www.west-wind.com:8080/svn/codepaste/trunk/</a></li>
        </ul>
    
        <p>
            Feel free to use and modify the project. If you make any changes you think might be useful for general
            usage, please submit a patch which you can submit to <a href="mailto:support@west-wind.com">West Wind Support</a>.        
        </p>
    
        <br />
    
        <p>
            <h3>Using the format= QueryString Key for basic API Access</h3>
            Many of the list and code URLs are directly accessible via a simple query string interface that 
            allows retrieving the data displayed as JSON, XML, RSS and ATOM. To specify simply specify either
            of these four keywords in a query string variable.
        </p>
        <p>
            <b>Examples:</b><br/>
            <ul>
                <li><a href="http://codepaste.net/recent?format=xml">http://codepaste.net/recent?format=xml</a></li>
                <li><a href="http://codepaste.net/x5ndfj?format=json">http://codepaste.net/x5ndfj?format=json</a></li>
                <li><a href="http://codepaste.net/list/user/1133?format=rss">http://codepaste.net/list/user/1133?format=rss</a></li>
                <li><a href="http://codepaste.net/list/tag/ASP.NET?format=atom">http://codepaste.net/list/tag/ASP.NET?format=atom</a></li>
            </ul>
        </p>

        <p>Additional, more complete API support for posting, searching, and retrieving data will follow shortly...    
        </p>
    
        <h3>Applications and Addins based on CodePaste.NET</h3>
        Here are a few applications that are using the CodePaste.NET APIs:
    
        <ul>
            <li><a href="http://codepastetray.codeplex.com/">CodePaste.NET Tray Application (CodePlex)</a></li>
            <li><a href="http://code.google.com/p/cr-codetweet/">cr-codetweet Visual Studio Addin</a><br /></li>        
        </ul>
    
    </div>
</fieldset>
