<style>
    .bottomline {
        border-bottom: 1px solid darkgrey;        
        margin: 15px 0;
    }
    .bottomline-noline {
        border-bottom: none;
        margin: 15px 0;
    }
</style>

<div class="bottomline" style="margin-bottom: 20px;padding-bottom: 10px;">
    brought to you by:<br />
    <a href="http://www.west-wind.com/weblog">
        <img src="~/Images/wwToolbarLogo.png" alt="West Wind Techologies" style="width: 180px" />
    </a>
</div>

<script type="text/javascript"><!--
    google_ad_client = "ca-pub-2013123155768157";
    /* CodePaste Sidebar 200x200 */
    google_ad_slot = "5750143889";
    google_ad_width = 200;
    google_ad_height = 200;
    //-->
</script>
<script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div class="bottomline-noline"></div>

<script type="text/javascript"><!--
    google_ad_client = "ca-pub-2013123155768157";
    /* CodePaste Sidebar 200x200 */
    google_ad_slot = "5750143889";
    google_ad_width = 200;
    google_ad_height = 200;
    //-->
</script>
<script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<div class="bottomline">    
</div>