<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CodePasteConnectionString" connectionString="Data Source=.;Initial Catalog=CodePaste;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CodePasteBusiness.Properties.Settings.CodePasteConnectionString" connectionString="Data Source=.;Initial Catalog=CodePaste;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
