@model CodePasteMvc.Controllers.ShowSnippetViewModel
<!DOCTYPE html>
<html>
<head>
    <title>CodePaste.NET - @Model.Snippet.Title</title>    
    <meta id="metaKeyWords" name="Keywords" content="@Model.Snippet.Tags" />
    <meta id="metaDescription" name="Description" content="CodePage.NET - paste and link .NET code for referencing from Social Network sites. Store and organize your code snippets."  />
    <link href="~/Css/csharp.css" rel="stylesheet" type="text/css" />    
    <style type="text/css">
     </style>
</head>
<body >
    <div class="codedisplay">@Html.Raw(Model.FormattedCode)</div>
</body>  
</html>  