<select id="Language" name="Language" size="1">
    <option value="text">-- No Code Formatting --</option>
    <optgroup label="Common">
        <option value="html">HTML</option>
        <option value="javascript">JavaScript</option>
        <option value="csharp">C#</option>
        <option value="c_cpp">C/C++</option>
        <option value="objectivec">Objective-C</option>
        <option value="sql">SQL</option>
        <option value="css">CSS</option>
        <option value="php">PHP</option>
        <option value="python">Python</option>
        <option value="ruby">Ruby</option>
        <option value="foxpro">FoxPro</option>
        <option value="java">Java</option>
    </optgroup>
    <optgroup label="Everything Else">
        <option value="actionscript">ActionScript</option>
        <option value="apache_conf">Apache Conf</option>
        <option value="assembly_x86">Assembly x86</option>
        <option value="batchfile">BatchFile</option>
        <option value="clojure">Clojure</option>
        <option value="cobol">Cobol</option>
        <option value="coffee">CoffeeScript</option>
        <option value="coldfusion">ColdFusion</option>
        <option value="css">CSS</option>
        <option value="dart">Dart</option>
        <option value="diff">Diff</option>
        <option value="erlang">Erlang</option>
        <option value="groovy">Groovy</option>
        <option value="gitignore">GitIgnore</option>
        <option value="haml">HAML</option>
        <option value="handlebars">Handlebars</option>
        <option value="haskell">Haskell</option>
        <option value="html_ruby">HTML (Ruby)</option>
        <option value="ini">INI</option>
        <option value="jade">Jade</option>
        <option value="json">JSON</option>
        <option value="jsp">JSP</option>
        <option value="jsx">JSX</option>
        <option value="latex">LaTeX</option>
        <option value="less">LESS</option>
        <option value="lisp">Lisp</option>
        <option value="lucene">Lucene</option>
        <option value="makefile">Makefile</option>
        <option value="markdown">Markdown</option>
        <option value="mysql">MySQL</option>
        <option value="pascal">Pascal</option>
        <option value="perl">Perl</option>
        <option value="powershell">Powershell</option>
        <option value="prolog">Prolog</option>
        <option value="ruby">Ruby</option>
        <option value="sass">SASS</option>
        <option value="scala">Scala</option>
        <option value="svg">SVG</option>
        <option value="typescript">Typescript</option>
        <option value="vbnet">VB.NET</option>
        <option value="vbscript">VBScript</option>
        <option value="xml">XML</option>
        <option value="xquery">XQuery</option>
        <option value="yaml">YAML</option>
    </optgroup>
</select>