.showcode
{
	margin: 10px;	
	border: solid 1px maroon;
	padding: 10px;
	background-color: cornsilk;
	float: left;
}
.csharpcode
{
	font-size: 10pt;
	color: black;
	font-family: Monospace, Courier New , Consolas, Courier;
	font-weight: normal;
	/*white-space: pre;*/
}
.csharpcode pre { margin: 0px; }
.rem { color: #008000; }
.kwrd { color: #0000ff; }
.str { color: #006080; }
.op { color: #0000c0; }
.preproc { color: #cc6633; }
.asp { background-color: #ffff00; }
.html { color: #800000; }
.attr { color: #ff0000; }
.alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0px;
}
.lnum { color: #606060; }