<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Owin.Security.Providers" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.ArcGISOnline" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Asana" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Backlog" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Baidu" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.BattleNet" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Bitbucket" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Box" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Buffer" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Cosign" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.DeviantArt" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Discord" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.DoYouBuzz" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Dropbox" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.EVEOnline" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Fitbit" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Flickr" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Foursquare" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Geni" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.GitHub" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Gitter" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.GooglePlus" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.HealthGraph" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Imgur" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Instagram" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.LinkedIn" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.MyHeritage" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Onshape" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.OpenID" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.OpenIDBase" version="2.1" targetFramework="net46" />
  <package id="Owin.Security.Providers.Orcid" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.PayPal" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Reddit" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Salesforce" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Shopify" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.SlackProvider" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.SoundCloud" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Spotify" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.StackExchange" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Steam" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.TripIt" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Twitch" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Untappd" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Vimeo" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.VisualStudio" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.VKontakte" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Wargaming" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.WordPress" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Xing" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Yahoo" version="2.9.0" targetFramework="net46" />
  <package id="Owin.Security.Providers.Yammer" version="2.9.0" targetFramework="net46" />
  <package id="Westwind.Utilities" version="3.0.0.9-preview1-0" targetFramework="net46" />
  <package id="Westwind.Web" version="2.68" targetFramework="net46" />
  <package id="Westwind.Web.WebForms" version="2.68" targetFramework="net46" />
</packages>